<?xml version="1.0" encoding="utf-8"?>
<!-- https://go.microsoft.com/fwlink/?LinkID=208121. -->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://abcretailers-functions-10448334-gxbab7ewfpfce0da.canadacentral-01.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/614b86b7-5623-429d-83eb-81af319b6b1f/resourceGroups/CLDV6212/providers/Microsoft.Web/sites/abcretailers-functions-10448334</ResourceId>
    <RuntimeIdentifier>win-x64</RuntimeIdentifier>
    <PublishUrl>https://abcretailers-functions-10448334-gxbab7ewfpfce0da.scm.canadacentral-01.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>